<h1>{{title}}</h1>
<app-heroes/>
<router-outlet/>
<app-messages/>
<!-- <app-heroes
  (akuAdalahHeroes)="methodTangkapHeroes($event)"
  (akuAdalahJudul)="methodTangkapJudul($event)"
/> -->

<!-- <br />
<hr />
<br />
<judul />
<hr />
<judul tag="input langsung dari html : " nama="bintang" />
<hr />
<judul tag="input dari variabel html {{ example }} : " [nama]="'david'" />
<hr />
<judul tag="input dari property : " [nama]="propertyNama" />
<hr />
<judul tag="input dari form heroes : " [nama]="valueEmitHeroes" />
<hr />
<judul tag="input dari form judul : " [nama]="valueEmitJudul" /> -->
